<div class="notice notice-error">
  <strong>Error: </strong>{{ plugin_name }} requires a newer version of WordPress to be installed.<br />
  Minimal version of WordPress required: <strong>{{ wp_version_min }}</strong><br />
  Your WordPress version: <strong>{{ wp_version }}</strong>
</div>
